 *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    body,html{
        height: 100%;
        width: 100%;

    }
    #conatiner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: #1f242d;
    }
    #card{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 40.625rem;
        width: 21.875rem;
        background-color: #1f242d;
        color: white;
        border-radius: 5%;
        transition: all 0.5s ease-in-out;
        border: 5px solid black;

    }
    #photo{
        height: 85%;
        width: inherit;
    }
    #photo img{
        height: inherit;
        width: inherit;
    }
    #card:hover{

        transform: translate(-0.75rem,-0.75rem);
        border: 5px solid #00ffdb;

    }
    #content{

        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        height: 15%;
        width: inherit;
        margin-top: -4.0625rem;
        padding: 1rem;

    }
    #content a{
       text-decoration: none;
        color: white;

    }
    #animate{
       gap: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 2.5rem;
        height:   2.5rem;
        font-size:  2.5rem;
        border-radius: 50%;
        animation: slide 1s ease-in-out;
    }


    @keyframes slide{
        0%{
            opacity: 0;
            transform: translateY(6.25rem);

        }
        100%{
            transform: translateY(0rem);
            opacity: 1;
        }
    }
